MEMORY {
    ZP:             start = $0002, size = $007D, type = rw;
    MOCK_DATA:      start = $C800, size = $0300, file = "";
    HARNESS:        start = $1900, size = $2000, file = %O;
    MOS_VECTORS_M:  start = $FFB9, size =    65, file = %O, define = no;
    V_RST:          start = $FFFC, size =     2, file = %O, define = no;
}
FILES {
    #; this just creates a binary with separate sections for each memory block, which makes it smaller and can be loaded by the tester.
    #; there is nothing "atari" about the file, this is purely for loading format.
    %O: format = atari;
}
SEGMENTS {
    ZEROPAGE:       load = ZP,              type = zp;
    STARTUP:        load = HARNESS,         type = rw, define = no;
    CODE:           load = HARNESS,         type = rw, define = no;
    MOS_VECTORS:    load = MOS_VECTORS_M,   type = ro, define = no;
    V_RESET:        load = V_RST,           type = ro, define = no;
}