FEATURES {
    STARTADDRESS: default = $8000;
}
SYMBOLS {
    __WORKSPACE_START__:   type = weak,     value = $1500;
    __WORKSPACE_END__:     type = weak,     value = $1900; #; may need to have multiple cfg files for different PAGE targets
}
MEMORY {
    ZP:       file = "", define = yes, start = $0000, size = $0100;
    MAIN:     file = %O, define = yes, start = %S,    size = $4000; #; Sideways ROM from 8000 to $BFFF
    WORKSP:   file = "", define = yes, start = __WORKSPACE_START__, size = __WORKSPACE_END__ - __WORKSPACE_START__; # ; up to PAGE - TODO will need some looking at when multi-machine, e.g. master
}
SEGMENTS {
    ZEROPAGE: load = ZP,       type = zp;
    HEADER:   load = MAIN,     type = ro;
    #; force RODATA to be before CODE, so it's in same page, as the HEADER is only $2B in length
    RODATA:   load = MAIN,     type = ro;
    CODE:     load = MAIN,     type = ro;
    DATA:     load = WORKSP,   type = rw;  #; a place to put our variables with initial state
    BSS:      load = WORKSP,   type = bss, define = yes, optional = yes; #; general BSS variables, zeroed when *FUJI is called, also used for C Stack Pointer, from the end
}
