FEATURES {
    STARTADDRESS: default = $1900;
}
MEMORY {
    #; everything goes in 1 large chunk at the moment from 1900 up to 8000
    MAIN: file = %O, start = %S,    size = $6700, define = yes;
}
FILES {
    # ; This is only set so the final binary is in "atari" format and can be loaded by soft65c02_unit.
    # ; It generates the FFFF header and RUNAD/INITAD headers which the emulator uses to load the binary correctly
    # ; and required so that different segments are written to the binary without huge blank spaces.
    # ; It does not require an atari to run it, this is purely about the binary format to be loaded by the unit test runner.
    %O: format = atari;
}

SEGMENTS {
    # ; startup segment is needed by cc65 to initialise app
    STARTUP:   load = MAIN,  type = ro,  define = yes;
    CODE:      load = MAIN,  type = ro,  define = yes;
}